<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试用例</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #mytab  thead{background: #5488c4;}
        #mytab tr:nth-child(even){
            background:#f4f8fb;
            }
    </style>


    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">场景:</span>
                    <select id="required" class="form-control form-control-chosen-required"
                        data-placeholder="Please select...">
                        <option></option>
                        <option>scen1</option>
                        <option>scen2</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">用例:</span>
                        <select id="required" class="form-control form-control-chosen-required"
                            data-placeholder="Please select...">
                            <option></option>
                            <option>Case1</option>
                            <option>Case2</option>
                        </select>
                    </div>
            </div>
            <div class="col-lg-3">
                    <button type="button" class="btn btn-primary">加载</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                    <table id="table_list" data-toggle="table"></table>
                    <!-- <table class="table table-bordered" id="mytab">
                        <thead>
                            <tr>
                                <th>用例描述</th>
                                <th>请求URL</th>
                                <th>方法</th>
                                <th>数据</th>
                                <th>入参</th>
                                <th>出参</th>
                                <th>断言</th>
                            </tr>
                        </thead>
                        <tbody>

                                    {% for dt in data %}
                                            <tr>
                                                <td>{{dt.Desc}}</td>
                                                <td>{{dt.Url}}</td>
                                                <td>{{dt.Method}}</td>
                                                <td>{{dt.Data}}</td>
                                                <td>{{dt.InPara}}</td>
                                                <td>{{dt.OutPara}}</td>
                                                <td>{{dt.Assert}}</td>
                                            </tr>
                                    {% endfor %}

                        </tbody>
                    </table> -->
            </div>
        </div>
    </div>

</body>
</html>